New email in {{ mailbox }}
Priority: {{ priority }}

From: {{ original_from }}
Subject: {{ original_subject }}
Date: {{ original_date }}

Preview:
{{ body_preview }}

---
This is an automated notification from Mail Orchestrator.
Tracking ID: {{ tracking_id }}
